body, html {
    height: 100%;
  }

/* bg image */
.bg-image{
    /* img */
    background-image: url("../pics/vizz_ms.jpg");
    /* blur */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* full height */
    height: 100%;
    /* center and scale */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* middle */
.text-image {
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0, 0.4); /* black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

/* text styles */
.text1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}