/* bg image */
.bg-image{
    /* img */
    background-image: url("pics/vvms.jpg");
    /* blur */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* full height */
    height: 100%;
    /* center and scale */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* text styles */
.about{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}